[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/blazerium"]
	path = content/themes/blazerium
	url = https://github.com/jonathanlu813/blazerium.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/jonathanlu813/Blazer-Admin.git
[submodule "content/adapters/storage/s3"]
	path = content/adapters/storage/s3
	url = https://github.com/jonathanlu813/ghost-storage-adapter-s3.git
